In [1]:
import pandas as pd
import numpy as np

srs_data = pd.read_csv("data/denmark-srs-data.csv", delimiter=";")
iri_data = pd.read_csv("data/denmark-iri-data.csv", delimiter=";")

srs_data.head()
iri_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Distance [m]</th>
      <th>Tid [s]</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>IRI(1)</th>
      <th>IRI(17)</th>
      <th>HÃ¸jde [m]</th>
      <th>Geoide hÃ¸jde [m]</th>
      <th>DOP</th>
      <th>Satellitter</th>
      <th>Fixtype</th>
      <th>GPStid</th>
      <th>Metode</th>
      <th>Vcar [rad]</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>11.25097</td>
      <td>56.124272</td>
      <td>8.889380</td>
      <td>3.012853</td>
      <td>3.602557</td>
      <td>42.0</td>
      <td>42.200001</td>
      <td>0.6</td>
      <td>17</td>
      <td>2</td>
      <td>112319.0</td>
      <td>0</td>
      <td>-1.144288</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10.0</td>
      <td>11.65382</td>
      <td>56.124309</td>
      <td>8.889232</td>
      <td>0.940023</td>
      <td>0.773456</td>
      <td>42.0</td>
      <td>42.200001</td>
      <td>0.6</td>
      <td>17</td>
      <td>2</td>
      <td>112320.0</td>
      <td>0</td>
      <td>-1.155941</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20.0</td>
      <td>12.05676</td>
      <td>56.124345</td>
      <td>8.889084</td>
      <td>0.954870</td>
      <td>1.065173</td>
      <td>42.0</td>
      <td>42.200001</td>
      <td>0.6</td>
      <td>17</td>
      <td>2</td>
      <td>112320.0</td>
      <td>0</td>
      <td>-1.156134</td>
    </tr>
    <tr>
      <th>3</th>
      <td>30.0</td>
      <td>12.45976</td>
      <td>56.124382</td>
      <td>8.888936</td>
      <td>0.494686</td>
      <td>1.162278</td>
      <td>42.0</td>
      <td>42.200001</td>
      <td>0.6</td>
      <td>17</td>
      <td>2</td>
      <td>112321.0</td>
      <td>0</td>
      <td>-1.149872</td>
    </tr>
    <tr>
      <th>4</th>
      <td>40.0</td>
      <td>12.86337</td>
      <td>56.124419</td>
      <td>8.888788</td>
      <td>0.973465</td>
      <td>1.504011</td>
      <td>42.0</td>
      <td>42.200001</td>
      <td>0.6</td>
      <td>17</td>
      <td>2</td>
      <td>112321.0</td>
      <td>0</td>
      <td>-1.151014</td>
    </tr>
  </tbody>
</table>
</div>